@font-face {
    font-family: 'WonderGardenScript-Regular';
    src: url('../fonts/wondergardenscript-regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/wondergardenscript-regular.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/wondergardenscript-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/wondergardenscript-regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/wondergardenscript-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/wondergardenscript-regular.svg#wondergardenscript-regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Cormorant", serif;
}

.main {
    background-color: #d3d4d4;
    color: black;
    padding-bottom: 5rem;
}

/* ------------ First Page -------------- */

.mainWelcomePage {
    position: relative;
    display: block;
    text-align: center;

    width: 100%;
    height: 100vh;
    text-transform: uppercase;


}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 20vh;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.ourWedding {
    width: 100%;
    height: 48vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 8rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
}

.ourName {
    position: absolute;
    top: 44%;
    left: 48%;
    height: 25rem;
    transform: translate(-50%, -50%);
    font-size: 18rem;
    line-height: 7rem;
    font-family: 'WonderGardenScript-Regular';
    text-transform: none;
    color: #000000;
}

.ourName p {
    position: absolute;
    top: 7rem;
    right: 5.5rem;
    font-size: 13rem;
    font-family: 'WonderGardenScript-Regular';
}

.footer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}


.footer p {
    padding: 8px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.footer .date {
    text-transform: none;
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Great Vibes';

}

.countdown {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;


    font-weight: 500;

    text-transform: lowercase;
}

.dateCountdown {
    font-family: 'Great Vibes';
    margin: 0 1rem;
    font-size: 2rem;
}


/* ------------ Second Page -------------- */

.mainDiscrPage {
    width: 50%;
    margin-top: 5rem;
    background-color: #ffffffdc;
    margin-inline: auto;
    padding: 4rem 0;
    text-align: center;
}

.dearGuest {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;

    font-size: 8rem;
    font-family: 'WonderGardenScript-Regular';
    line-height: 4rem;
}

.repeatText {
    width: 60%;
    margin: 4rem auto;
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
}

.titleRepeatText {
    width: 60%;
    margin: 1rem auto;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

.ourSharedPhoto {
    margin: 12rem 0;
}

.sharedPhotoRight, .sharedPhotoLeft {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    margin: -7rem auto;
    text-align: center;
    border-radius: 50%;
}

.sharedPhotoRight {
    margin-right: 10rem;
}

.sharedPhotoLeft {
    margin-left: 10rem;
}

.ourPhoto {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    margin: 5rem auto -2rem auto;
    text-align: center;
    border-radius: 50%;
}
.colorScheme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.colorScheme div {
    min-width: 1rem;
    min-height: 1rem; 
    width: 4rem; 
    height: 4rem;
    border-radius: 50%;
    margin: 0 .6rem;
}

.color1 {
    background-color: #4B3327;
}

.color2 {
    background-color: #75523F;
}

.color3 {
    background-color: #C29995;
}

.color4 {
    background-color: #ECC9C7;
}

.color5 {
    background-color: rgb(255, 237, 212);
}

.timetable {
    width: 80%;
    text-align: center;
    margin: 6rem auto;
    padding: 1.5rem 0;
    background-color: #b4b4b4;

}
 
.wedTimetable {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    margin: 6rem 0;

    font-size: 9rem;
    font-family: 'WonderGardenScript-Regular';
    line-height: 4rem;
    font-weight: normal;
}

.elTimetable {
    display: flex;
    justify-content: start;
    margin: 4rem 2rem;
}

.timeOfTable {
    font-size: 1.7rem;
    margin: 2rem;
    font-weight: bold;
}

.inviteOfTable h2 {
    font-size: 1.4rem;
}

.inviteOfTable div {
    font-size: 1.3rem;
}

.yandexMap {
    width: 80%;
    height: 40vh;
    margin: 2rem auto 4rem auto;
}

.confirmationButton {
    height: 5vh;
    width: 40%;
    text-align: center;
    margin: 5rem auto;

    border-radius: 1rem;
    font-size: 2rem;
    background-color: #f00000;
}

.confirmationButton:hover {
    background-color: rgb(235, 176, 232);
    transition: .5s;
}

.formBackground {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
}

.form {
    width: 60%;
    margin: 0 auto;
    text-align: start;
    padding: 2rem 0;
}

.form h3 {
    font-size: 1.4rem;
    margin: 1rem 0;
    text-align: center;
}

.form form {
    font-size: 1.4rem;
}

.serverButton {
    height: 5vh;
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: #f00000;
}

.serverButton:hover {
    background-color: rgb(235, 176, 232);
    transition: .5s;
}

.submittedData {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/* ============ АДАПТИВ ДЛЯ ПЛАНШЕТОВ ============ */

@media (max-width: 1024px) {
    .ourWedding {
        font-size: 6rem;
    }
    
    .ourName {
        font-size: 14rem;
        top: 48%;
        line-height: 6rem;
    }
    
    .ourName p {
        font-size: 9rem;
        top: 6rem;
        right: 4rem;
    }
    
    .mainDiscrPage {
        width: 70%;
    }
    
    .dearGuest {
        font-size: 6rem;
        height: 15vh;
    }
    
    .wedTimetable {
        font-size: 7rem;
        margin: 4rem 0;
    }
    
    .repeatText,
    .titleRepeatText {
        width: 70%;
    }
    
    .colorScheme {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 1rem;
        height: 15vh;
    }
    
    .ourWedding {
        font-size: 4.5rem;
        height: 40vh;
    }
    
    .ourName {
        font-size: 10rem;
        line-height: 4.5rem;
        top: 42%;
    }
    
    .ourName p {
        font-size: 6.5rem;
        top: 4.5rem;
        right: 2.5rem;
    }
    
    .footer p {
        font-size: 1rem;
    }
    
    .footer .date {
        font-size: 1.7rem;
    }
    
    .dateCountdown {
        font-size: 1.7rem;
    }
    
    .mainDiscrPage {
        width: 85%;
        margin-top: 3rem;
        padding: 2.5rem 0;
    }
    
    .dearGuest {
        font-size: 4.5rem;
        height: 12vh;
        line-height: 3rem;
    }
    
    .repeatText {
        width: 80%;
        font-size: 1.2rem;
        margin: 3rem auto;
    }
    
    .titleRepeatText {
        width: 80%;
        font-size: 1.3rem;
    }
    
    .wedTimetable {
        font-size: 5rem;
        margin: 3rem 0;
    }
    
    .elTimetable {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 3rem 1rem;
    }
    
    .timeOfTable {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
    }
    
    .timetable {
        width: 90%;
        margin: 4rem auto;
    }
    
    .colorScheme {
        max-width: 85%;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .colorScheme div {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0.5rem;
    }
    
    .confirmationButton {
        width: 60%;
        font-size: 1.7rem;
        margin: 4rem auto;
    }
    
    .formBackground {
        width: 90%;
    }
    
    .form {
        width: 80%;
    }
    
    .yandexMap {
        width: 90%;
        height: 35vh;
    }
}

/* ============ АДАПТИВ ДЛЯ ТЕЛЕФОНОВ ============ */
@media (max-width: 480px) {
    * {
        font-size: 14px;
    }
    
    .header {
        font-size: 0.9rem;
        height: 12vh;
        letter-spacing: 0.05rem;
    }
    
    .ourWedding {
        font-size: 3rem;
        height: 35vh;
        letter-spacing: 0.2rem;
    }
    
    .ourName {
        font-size: 6rem;
        line-height: 3rem;
        top: 42%;

    }
    
    .ourName p {
        font-size: 4rem;
        top: 3rem;
        right: 1.5rem;
    }
    
    .footer {
        padding-top: 30px;
    }
    
    .footer p {
        font-size: 0.9rem;
        padding: 5px;
    }
    
    .footer .date {
        font-size: 1.5rem;
    }
    
    .countdown {
        flex-wrap: wrap;
        margin-top: 1.5rem;
    }
    
    .dateCountdown {
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }
    
    .mainDiscrPage {
        width: 95%;
        margin-top: 2rem;
        padding: 2rem 0;
    }
    
    .dearGuest {
        font-size: 3.5rem;
        height: 10vh;
        line-height: 2.5rem;
    }
    
    .repeatText {
        width: 85%;
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin: 2rem auto;
    }
    
    .titleRepeatText {
        width: 85%;
        font-size: 1.2rem;
        margin: 0.5rem auto;
    }
    
    .sharedPhoto,
    .ourPhoto {
        max-width: 90%;
        max-height: 35vh;
    }
    
    .ourPhoto {
        width: 70vw;
        height: 70vw;
        max-width: 70vw;
        max-height: 70vw;
    }
    
    .colorScheme {
        max-width: 95%;
        justify-content: center;
    }
    
    .colorScheme div {
        width: 3rem;
        height: 3rem;
        margin: 0.3rem;
    }
    
    .timetable {
        width: 95%;
        margin: 3rem auto;
        padding: 1rem 0;
    }
    
    .wedTimetable {
        font-size: 3.5rem;
        margin: 2rem 0;
        line-height: 3rem;
    }
    
    .elTimetable {
        margin: 2rem 0.5rem;
        flex-direction: column;
        align-items: center;
    }
    
    .timeOfTable {
        font-size: 1.4rem;
        margin: 0 0 0.5rem 0;
    }
    
    .inviteOfTable h2 {
        font-size: 1.2rem;
    }
    
    .inviteOfTable div {
        font-size: 1.1rem;
    }
    
    .yandexMap {
        width: 95%;
        height: 30vh;
        margin: 1.5rem auto 3rem auto;
    }
    
    .confirmationButton {
        width: 80%;
        font-size: 1.5rem;
        height: 6vh;
        margin: 3rem auto;
    }
    
    .formBackground {
        width: 95%;
    }
    
    .form {
        width: 90%;
        padding: 1.5rem 0;
    }
    
    .form h3 {
        font-size: 1.3rem;
    }
    
    .form form {
        font-size: 1.2rem;
    }
    
    .serverButton {
        width: 80%;
        font-size: 1.3rem;
        height: 6vh;
    }
}

/* ============ МАЛЕНЬКИЕ ТЕЛЕФОНЫ ============ */
@media (max-width: 360px) {
    .ourWedding {
        font-size: 2.5rem;
    }
    
    .ourName {
        font-size: 5rem;
        line-height: 2.5rem;
        top: 39%;
    }
    
    .ourName p {
        font-size: 3.2rem;
        top: 2.5rem;
        right: 1.2rem;
    }
    
    .dearGuest {
        font-size: 2.8rem;
    }
    
    .wedTimetable {
        font-size: 2.8rem;
    }
    
    .colorScheme div {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .confirmationButton,
    .serverButton {
        font-size: 1.3rem;
    }
}