@font-face {
    font-family: 'WonderGardenScript-Regular';
    src: url('../fonts/wondergardenscript-regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/wondergardenscript-regular.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/wondergardenscript-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/wondergardenscript-regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/wondergardenscript-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/wondergardenscript-regular.svg#wondergardenscript-regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Cormorant", serif;
}

.main {
    background-color: #31635c;
    color: black;
    padding-bottom: 5rem;
}

/* ------------ First Page -------------- */

.mainWelcomePage {
    position: relative;
    display: block;
    text-align: center;

    width: 100%;
    height: 100vh;
    text-transform: uppercase;


}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 20vh;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.ourWedding {
    width: 100%;
    height: 48vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #e786ab;
    font-size: 8rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
}

.ourName {
    position: absolute;
    top: 45%;
    left: 48.5%;
    height: 25rem;
    transform: translate(-50%, -50%);
    font-size: 18rem;
    line-height: 7rem;
    font-family: 'WonderGardenScript-Regular';
    text-transform: none;

}

.ourName p {
    position: absolute;
    top: 7rem;
    right: 5.5rem;
    font-size: 12rem;
    font-family: 'WonderGardenScript-Regular';
}

.footer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}


.footer p {
    padding: 8px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.footer .date {
    text-transform: none;
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Great Vibes';

}

.countdown {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;


    font-weight: 500;

    text-transform: lowercase;
}

.dateCountdown {
    font-family: 'Great Vibes';
    margin: 0 1rem;
    font-size: 2rem;
}


/* ------------ Second Page -------------- */

.mainDiscrPage {
    width: 50%;
    margin-top: 5rem;
    background-color: antiquewhite;
    margin-inline: auto;
    padding: 4rem 0;
    text-align: center;
}

.dearGuest {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;

    font-size: 8rem;
    font-family: 'WonderGardenScript-Regular';
    line-height: 4rem;
}

.repeatText {
    width: 60%;
    margin: 4rem auto;
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
}

.titleRepeatText {
    width: 60%;
    margin: 1rem auto;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

.sharedPhoto {
    display: flex;
    justify-content: center;
    max-height: 40vh;
    max-width: 80%;
    text-align: center;
    margin: auto;
}

.ourPhoto {
    display: flex;
    justify-content: center;
    max-height: 40vh;
    max-width: 80%;
    text-align: center;
    margin: auto;
    border-radius: 50%;
}

.colorScheme {
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;

}

.colorScheme div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 1rem;

}

.color1 {
    background-color: #40c916;
}

.color2 {
    background-color: #9586e7;
}

.color3 {
    background-color: #0affde;
}

.color4 {
    background-color: #f00000;
}

.color5 {
    background-color: #e5ff00;
}

.timetable {
    width: 80%;
    text-align: center;
    margin: 6rem auto;
    padding: 1.5rem 0;
    background-color: #fff;

}

.wedTimetable {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    margin: 6rem 0;

    font-size: 9rem;
    font-family: 'WonderGardenScript-Regular';
    line-height: 4rem;
    font-weight: normal;
}

.elTimetable {
    display: flex;
    justify-content: start;
    margin: 4rem 2rem;
}

.timeOfTable {
    font-size: 1.5rem;
    margin: .5rem 2rem;
    font-weight: bold;
}

.inviteOfTable h2 {
    font-size: 1.4rem;
}

.inviteOfTable div {
    font-size: 1.3rem;
}

.confirmationButton {
    height: 5vh;
    width: 40%;
    text-align: center;
    margin: 5rem auto;

    border-radius: 1rem;
    font-size: 2rem;
    background-color: #f00000;
}

.confirmationButton:hover {
    background-color: rgb(235, 176, 232);
    transition: .5s;
}

.formBackground {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
}

.form {
    width: 60%;
    margin: 0 auto;
    text-align: start;
    padding: 2rem 0;
}

.form h3 {
    font-size: 1.4rem;
    margin: 1rem 0;
    text-align: center;
}

.form form {
    font-size: 1.4rem;
}

.serverButton {
    height: 5vh;
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: #f00000;
}

.serverButton:hover {
    background-color: rgb(235, 176, 232);
    transition: .5s;
}